.lmj-banner {
    color: black;
    text-align: right;
    padding: 32px;
    border-bottom: solid 3px black;
}
 h1 {
     text-align: center;
     color: red;
 }

 .lmj-logo {
	height: 45px;
	width: 45px;
}